:root{
    font-size: 62.5%;
    --primary-color: hsl(170,100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210,9%, 31%);

    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.1rem;

}
h4{
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}
h1{
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    
    border-radius: 4rem;
    border: none;
    margin-bottom: 6rem;
    
    height: 6.2rem;
    width: 26.3rem;
    
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;    
}
header img{
    max-width: 26.3rem;
    width: 100%;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}
.stats{
    width: 32.7rem;
    height: 47.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    
    background-color: var(--brand-beige);
    border: solid 1px --brand-light;
    border-radius: .6rem;
}
h3{
  font-size: 4.8rem;   
  color: var(--headline);
  line-height: 130%;

  margin-bottom: .4rem;
}
.stat p{
    color: var(--primary-color);
    margin: 0;
    line-height: 150%;
}